
<div class="dropdown language-theme">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img src="{{ 'en.png' | asset_url }}"  alt="English" />{{ 'general.language.english' | t }}
<span class="fa fa-angle-down"></span></button>
  <ul class="dropdown-menu dropdown-content">
      <li><a href="#" title="English" data-value="English"><img src="{{ 'en.png' | asset_url }}" alt="English" />{{ 'general.language.english' | t }}</a></li>  
      <li><a href="#" title="Arab" data-value="Arab"><img src="{{ 'ar.png' | asset_url }}" alt ="Arab"/>{{ 'general.language.arab' | t }}</a></li>  
  </ul>
</div>