
{% if section.settings.image_size != blank %}
{% assign image_size = section.settings.image_size %}
{% else %}
{% assign image_size = 'master' %}
{% endif %}

{% assign grid_image_scale = '2' %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% assign sTT = 'products.product.outOfStock' | t %}
{% if product.available %}
{% assign sold_out = false %}
{% assign sTT = 'products.product.inStock' | t %}
{% endif %}

<div class="product-item" data-id="product-{{ product.id }}">
  <div class="product-item-container grid-view-item {% if settings.hover-image == 'no-change' %}no-change{% endif %} {% if sold_out %} sold-out{% endif %} {% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
    <div class="left-block">
      <div class="product-image-container product-image">
        <a class="grid-view-item__link image-ajax" href="{{ product.url | within: collection }}">
          {% if section.settings.crop_product %}
          <img class="img-responsive s-img lazyload" data-sizes="auto" src="{{ "icon-loadings.svg" | asset_url }}" data-src="{{ product.featured_image.src | product_img_url:image_size, crop:'center' }}" alt="{{ product.featured_image.alt }}" />
          {% else %}
          <img class="img-responsive s-img lazyload" data-sizes="auto" src="{{ "icon-loadings.svg" | asset_url }}" data-src="{{ product.featured_image.src | product_img_url:image_size }}" alt="{{ product.featured_image.alt }}" />
          {% endif %}
        </a>

        {% if settings.show-gallery %}
        {% include 'product-gallery' %}
        {% endif %}
        {% if product.tags contains "label" %}
        <div class="label-info">
          <span class="label-stock label label1 font-ct">{{ 'general.megamenu_icons.pre-order' | t }}</span>
        </div>
        {% endif %}
        {% if product.tags contains "label2" %}
        <div class="label-info">
          <span class="label-stock label label2  font-ct">{{ 'general.megamenu_icons.best' | t }}</span>
        </div>
        {% endif %}
      </div>

      {% if sold_out %}
      <div class="label-sold-out">
        <span>{{ 'products.product.sold_out_stock' | t }}</span>
      </div>
      {% endif %}
      <div class="box-labels">
        {% if product.tags contains "New" %}
        <span class="label-product label-new">{{ 'general.megamenu_icons.new' | t }}</span>
        {% endif %}
        {% if on_sale %}
        <span class="label-product label-sale"><span class="d-none">{{ 'products.product.on_sale' | t }}</span>
          -{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | money_without_currency | replace: ',', '.' | times: 100 | remove: '.0'}}%</span>
        {% endif %}
      </div>
		<div class="quickview-button">
          <a class="quickview iframe-link d-none d-xl-block btn_df" href="javascript:void(0)" data-variants_id="{{ product.variants[0].id }}" data-toggle="modal" data-target="#myModal" data-id="{{ product.handle }}" title="{{ 'products.product.quick_view' | t }}"><i class="fa fa-search"></i><span class="hidden">{{ 'products.product.quick_view' | t }}</span></a>
        </div>

    </div>
    <div class="right-block">
       {% for tag in product.tags %} 
      {% if tag contains "deal" %}
      <div class="countdown_tabs">
        <div class="countdown_inners" data-date="{{ tag | remove:"deal" }}"></div>
      </div>
      <script>
        $(document ).ready(function() {
          $('[data-date]').each(function() {
            var $this = $(this), finalDate = $(this).data('date');
            $this.countdown(finalDate, function(event) {
              $this.html(event.strftime('<div class="deals-time day"><div class="num-time">%D</div><div class="title-time">days</div></div> <div class="deals-time hour"><div class="num-time">%H</div> <div class="title-time">hours</div></div><div class="deals-time minute"><div class="num-time">%M</div><div class="title-time">mins</div></div><div class="deals-time second"><div class="num-time">%S</div><div class="title-time">secs</div></div>'));
            });
          });
        })
      </script>
      {% endif %} 
      {% endfor %}
      <div class="caption">
        {% if settings.show-vendor %}
        <div class="title-vendor font-ct">{{ product.vendor | link_to_vendor }}</div>
        {% endif %}

        {% if settings.show-title %}
        <h4 class="title-product text-truncate"><a class="product-name" href="{{ product.url }}">{{ product.title | strip_html | truncate: settings.limit_title }}</a></h4>
        {% endif %}
        {% if settings.show-price %}
        <div class="price">
          {% include 'product-price' %}
        </div>
        {% endif %}
       
      </div>
       <div class="caption2">
          {% if settings.show-review %}
        <div class="custom-reviews hidden-xs">          
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>          
        </div>
        {% endif %}
      <div class="button-link">
        
        {% if sold_out %}
        <button class="btn_sold_out btn-addToCart disabled" type="submit" value="Submit" disabled data-toggle="tooltip" title="{{ 'products.product.sold_out' | t }}">
          <span><i class="fa fa-shopping-basket"></i><span class="">{{ 'products.product.sold_out' | t }}</span></span>
        </button>
        {% elsif product.variants.size > 1 %}
        <div class="btn-button add-to-cart add-sellect">  
          <a  href="{{ product.url | within: collection }}" class="btn_df grl" title="{{ 'products.product.select_options' | t }}"><i class="fa fa-shopping-basket"></i><span class="">{{ 'products.product.select_options' | t }}</span></a>
        </div>
        {% else %}
        <div class="btn-button add-to-cart action  {% if sold_out %}sold-out{% endif %}">    
          <form action="/cart/add" method="post" class="variants" data-id="AddToCartForm-{{ product.id }}" enctype="multipart/form-data">   
            <input type="hidden" name="id" value="{{ product.variants[0].id }}" />           
            <a class="btn-addToCart grl btn_df" href="javascript:void(0)" title="{{ 'products.product.add_to_cart' | t }}"><i class="fa fa-shopping-basket"></i><span class="">{{ 'products.product.add_to_cart' | t }}</span></a>
          </form>  
        </div>
        {% endif %}        
		<!-- {% include 'product-wishlist' %} -->
        
      </div>
      </div>
    </div> 
  </div>
</div>
