<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class=" btn--small btn--secondary btn--share share-facebook" title="{{ 'general.social.alt_text.share_on_facebook' | t }}">
      <i class="fa fa-facebook"></i>
      <span class="share-title d-none" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
      <span class="visually- d-none">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
    </a>
  {% endif %}
  
  {% if settings.share_pinterest %}
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class=" btn--small btn--secondary btn--share share-pinterest" title="{{ 'general.social.alt_text.share_on_pinterest' | t }}">
      <i class="fa fa-pinterest"></i>
      <span class="share-title d-none" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
      <span class="visually- d-none ">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
    </a>
  {% endif %}
  
  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class=" btn--small btn--secondary btn--share share-twitter" title="{{ 'general.social.alt_text.share_on_twitter' | t }}">
      <i class="fa fa-twitter"></i>
      <span class="share-title d-none" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
      <span class="visually- d-none">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
    </a>
  {% endif %}

  

</div>
